<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <title> {{ titulo }} </title>


</head>
<body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}


    <footer class="bg-light text-center text-lg-start fixed-bottom ">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright: 
          <a class="text-dark" href="https://ifglobal.mx">Ingenieria Financiera Global</a>
        </div>
        <!-- Copyright -->
      </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>     
<script type='text/javascript' src=" {{ url_for('static', filename='js/jquery.js') }} "></script>

</body>
</html>